:root{

    /* Primary Colors */
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: #FFF;


    /* Typo */
    --heading-font: 'Poppins', sans-serif;
    --body: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background-color: var(--violet);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--white);
}
@media (min-width: 768px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
    }
}

.m-0 {
    margin: 0;
}

.container {
    max-width: 144rem;
    height: 100vh;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 3.82rem 3.5rem 4rem 3.6rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .wrapper {
        padding: 6.4rem 8.5rem 4rem 8rem;
    }
}

.header img {
    width: 12rem;
}
@media (min-width: 768px) {
    .header img {
        width: 20rem;
    }
}

.main {
    margin-top: 6.98rem;
}
@media (min-width: 768px) {
    .main {
        margin-top: 10.4rem;
        display: flex;
        gap: 5.9rem;
    }
}

.hero__img img {
    width: 100%;
}

.hero__text {
    margin-top: 6rem auto 0 auto;
    width: 29.4rem;
    text-align: center;
}
@media (min-width: 768px) {
    .hero__text {
        width: 52rem;
        margin-top: 3.2rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 2.4rem;
    }
}

.hero__text h1 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 36px;
}
@media (min-width: 768px) {
    .hero__text h1 {
        width: 48.7rem;
        font-size: 4rem;
        line-height: 60px; /* 150% */
        text-align: left;
    }
}

.hero__text p {
    margin-top: 1.6rem;
    text-align: center;
    font-family: var(--body);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}
@media (min-width: 768px) {
    .hero__text p {
        width: 49rem;
        font-size: 1.8rem;
        line-height: 27px; /* 150% */
        margin: 0;
        text-align: left;
    }
}

.hero__text a {
    display: inline-block;
    text-decoration: none;
    margin-top: 2.4rem;
    width: 20rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: var(--white);
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.27);
    color: var(--violet);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 18px;
    padding: 1.129rem 7.5rem 1.071rem 7.5rem;
    transition: background-color 300ms ease 0s;
}
@media (min-width: 768px) {
    .hero__text a {
        margin: 0;
        height: 5.6rem;
        padding: 1.3rem 6.3rem 1.6rem 6.4rem;
        border-radius: 2.8rem;
        box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
        font-size: 1.8rem;
        line-height: 27px; /* 150% */
    }
}
.hero__text a:hover {
    background-color: var(--soft-magenta);
    color: var(--white);
}

.social {
    margin-top: 6.4rem;
    display: flex;
    justify-content: center;
    gap: 1.086rem;
}
@media (min-width: 768px) {
    .social {
        margin-top: 2.7rem;
        justify-content: flex-end;
    }
}

.social a {
    all: unset;
    border: .0798rem solid var(--white);
    border-radius: 50%;
    width: 2.7142rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 300ms ease 0s;
}
@media (min-width: 768px) {
    .social a {
        width: 4rem;
        height: 4rem;
    }
}
.social a:hover,
.social a i:hover {
    border-color: var(--soft-magenta);
    color: var(--soft-magenta);
}

.social a i {
    font-size: 1.33rem;
}
@media (min-width: 768px) {
    .social a i {
        font-size: 1.9rem;
    }
}